.o_dashboard_container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.o_dashboard_pengeluaran_chart, .o_dashboard_usage_chart {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: #36A2EB;
    color: #fff;
}
